<% @page_title = "Delete Article" %>

<%= link_to("<< Back to List", {:action => 'index', :page_id => @page.id}, :class => 'back-link') %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 sections delete">
    <h2>Delete Article</h2>
  
    <%= form_for(:section, :url => {:action => 'destroy', :id => @section.id, :page_id => @page.id}) do |f| %>
  
      <p class="text-center">Are you sure you want to permanently delete article <strong><%= @section.name %></strong>?</p>
  
      <div class="form-buttons">
        <%= submit_tag("Delete Article") %>
      </div>
  
    <% end %>
  </div>
</div>

