<% @page_title = "New Article" %>

<%= link_to("<< Back to List", {:action => 'index', :page_id => @page.id}, :class => 'back-link') %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 sections new">
    <h2>Create Article</h2>
  
    <%= form_for(:section, :url => {:action => 'create', :page_id => @page.id}) do |f| %>
  
      <%= render(:partial => "form", :locals => {:f => f}) %>
  
      <div class="form-buttons">
        <%= submit_tag("Create Article") %>
      </div>
  
    <% end %>
  </div>
</div>

