<% @page_title = "Delete Admin User: #{@admin_user.name}" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 user delete">
    <h2>Delete Admin User</h2>
  
    <%= form_for(:admin_user, :url => {:action => 'destroy', :id => @admin_user.id}) do |f| -%>
  
      <p class="text-center">Are you sure you want to permanently delete admin user <strong><%= @admin_user.name %></strong>?</p>

      <div class="form-buttons">
        <%= submit_tag("Delete Admin User") %>
      </div>
  
    <% end %>
  </div>
</div>
