/* Admin stylesheet       */
/* load after public.css */

/* Structure */

.login form {  
    margin-top: 150px;
} 

input { 
    width: 100%;
    height: 35px;
    text-indent: 10px;
}

input:focus {  
  outline: none !important;
}

input[type=submit] {
    margin-top: 20px;
}

.admin-menu h2,  
.subjects h2,
.pages h2,
.sections h2,
.user h2 {          
    text-align: center;
    padding: 20px 0 10px;
}

.admin-menu .identity {   
    text-align: center;
    padding-top: 10px;
}

.admin-menu ul {  
    margin: 3em 0; 
    list-style: none; 
}

.admin-menu ul li, .back-link { 
    margin-bottom: 1em; 
    margin-right: 1.5em;
    font-size: 16px;
}

.admin-menu ul li a, a.back-link { 
    text-decoration: none; 
    color: #676767;
}

.admin-menu ul li a:hover, a.back-link:hover { 
    color: #dddddd;
    text-decoration: none;
}

/* large action buttons */
.new {
    margin: 20px 0 30px;
} 

a.action { 
    padding: 2px 5px; 
    margin: 0 0 1em 1em;  
    background: rgba(175,253,79,0.4);
    color: #4C2516;  
    border: 1px solid #4C2516;  
    text-decoration: none; 
    font-size: 1em; 
    text-align: center; 
}

a.action:hover { 
    background: rgba(175,253,79,0.2); 
    text-decoration: none;
    color: #dddddd
}

/* small action buttons */
.actions { 
    width: 250px; 
} 

.actions a.action { 
    float: left; 
    min-width: 3.5em;  
    padding: 1px 2px; 
    margin: 2px 5px; 
    font-size: 0.8em; 
}


.notice { 
    height: 35px;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    text-align: center;  
    background: rgba(175,253,79,0.4); 
    color: #4C2516; 
}


.form-buttons { 
    text-align: center; 
    margin: 1em 0; 
}

input[type=checkbox],
input[type=radio] { 
    width: 15px;
}

.input-text {
    margin-right: 10px;
}

/* zebra striping for table rows */
.odd { 
    background: rgba(240,255,78, 0.6); 
}

.even { 
    background: none; 
}

/* status_tag */
span.status { 
    display: block; 
    width: 10px; 
    height: 10px;  
    margin: 0.25em auto; 
    padding: 0; 
    border: 1px solid #000000; 
}

span.status.true  { 
    background: green; 
    color: green; 
}

span.status.false { 
    background: red; 
    color: red; 
}

/* Errors */
.field_with_errors { }

.field_with_errors label { 
    color: #AA0000; 
}

.field_with_errors input { 
    border: 1px solid #AA0000;
}

#errorExplanation { 
    width: 100%;
    padding: 0; 
    margin: 0 auto 1.5em;  
    border: 1px solid #AA0000; 
    background-color: #FFFFFF; 
    font-size: 12px; 
}

#errorExplanation h2 { 
    font-weight: bold; 
    font-size: 12px;
    padding: 5px 5px 5px 15px; 
    margin: 0; 
    width: 100%;
    background-color: #AA0000; 
    color: #FFFFFF; 
}

#errorExplanation p { 
    color: #333333; 
    margin: 0; 
    padding: 3px 0.5em; 
}

#errorExplanation ul { 
    margin-top: 0; 
}

#errorExplanation ul li { 
    list-style: square; 
}
