/* Public stylesheet */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);


/* Colors
h1:         #898989
content h2: #676767
content h3: #b7b7b7, 7b7b7b
content p:  #959595
menu li:    # 2c2c2c
notice-bckgrnd:     rgba(175,253,79,0.4);
notice-color: #4C2516

*/


html,body {
  margin: 0;
  padding: 0;
  height: 100%; 
  width: 100%;
}

body {
  font-family: 'Oswald', sans-serif;
}

table tr th, table tr td { 
    vertical-align: top; 
    text-align: left;   
    padding: 3px; 
}

.container {
    background: transparent url('https://dl.dropboxusercontent.com/u/6407774/feature-gradient-transparent%20-%20Reverse.png') center center no-repeat;
    background-size: cover; 
    width: 100%;
    min-height: 500px;
} 

/* Header */

.header {
    width: 100%;
    background-color: rgba(137,137,137,0.05);
    border-bottom: 1px solid #ddd;
    letter-spacing: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 17px;
    padding: 15px;
}

.header a, .header a:visited, .header a:hover {
    color: #898989;
    text-decoration: none;
}

/* Menu */

.menu {
    background-color: rgba(137,137,137,0.7);
    height: 100%;
    position: fixed;
    top: 0;
    width: 240px;
    right: -240px;
    z-index: 1;
}

.menu ul {
  list-style: none;
  padding-right: 0;
}

.menu li a,.menu li a:visited {
  color: #2c2c2c;
  display: block;
  font-size: 18px;
  font-weight: 100;
  padding: 30px 40px;
  text-decoration: none;
}

.menu .icon-close {
    color: #2c2c2c;
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
}

.icon-menu {
    color: #898989;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

/* Footer */

#footer { 
    height: 2.5em; 
    text-align: right;  
    background-color: rgba(137,137,137,0.05);
    border-top: 1px solid #ddd;
    color: #2c2c2c; 
}

#footer p { 
    margin: 0; 
    padding: 0.5em 1em; 
}

/* Navigation */

#navigation { 
    padding: 30px;   
    color: #4C2516; 
}
#navigation ul { 
    list-style: none; 
    margin: 0; 
    padding: 5px;
    font-size: 20px;
}

#navigation ul li { 
    margin-bottom: 0.5em;
}
#navigation ul ul { 
    margin: 0.5em 0 0 1em; 
    font-size: 16px;
}

#navigation a { 
    text-decoration: none; 
    color: #676767;
}

#navigation a:hover { 

   color: #dddddd;
}


/* Section */

img {
    width: 100%;
}

.public-content {
    border-left: 1px solid #ddd;
}

.content {
    margin: 20px 30px;
    padding-left: 60px;
}

.content h2 {
    color: #676767;  
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.content h3 {
    color: #7b7b7b;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}

.content p {
    color: #959595;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.15em;
    line-height: 1.75em;
}

